<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="IpPbxCtiTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="IP" value="192.168.4.101" />
		<add key="Port" value="8012" />
		<add key="AgentID" value="1001" />
		<add key="PassWord" value="1234" />
		<add key="DeviceAddress" value="8586" />		
	</appSettings>
 <applicationSettings>
  <IpPbxCtiTest.Properties.Settings>
   <setting name="IpPbxCtiTest_WebReference_Service" serializeAs="String">
    <value>http://10.126.226.173/OmniCTIWebService/Service.asmx</value>
   </setting>
  </IpPbxCtiTest.Properties.Settings>
 </applicationSettings>
</configuration>